.bulk-table {
  width: 100%;
  column-gap: 0;
  border-spacing: 0;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}
.bulk-table thead {
  background-color: #fff;
  height: 50px;
}
.bulk-table tr {
  background-color: #fff;
  max-height: 100px;
}
.bulk-table tbody tr:nth-child(odd) {
  background-color: aliceblue;
}
.bulk-table th {
  text-align: left;
}
.bulk-table .sisa-meta {
  width: auto;
}
.bulk-table .alt-text {
  width: 15%;
}
.editable {
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: 0.2s;
}
.editable:hover {
  cursor: text;
  background-color: #f7f7f7;
}
.editable:focus {
  border: 1px solid #f7f7f7;
  background-color: #fcf8e1;
}
.bulk-table .thumbnail {
  width: 75px;
}
.bulk-table .status {
  width: 25px;
  text-align: center;
}
.bulk-table td.status {
  color: green;
}
.bulk-table td.Error {
  color: red;
}
.bulk-table td.filename {
  color: #8c8f94;
  width: 15%;
  max-width: 200px;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}
.bulk-table td.filename a.image-link {
  color: #8c8f94;
  text-decoration: none;
}
.bulk-table td.alt-text span.existing-alt-text {
  font-weight: normal;
  color: #8c8f94;
}
.bulk-table th,
.bulk-table td {
  padding: 10px;
}
