.progress-bar-wrap {
  position: relative;
  margin: 30px auto;
  height: auto;
}
.progress-bar {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 20px;
}
.progress-size {
  position: absolute;
  min-width: 45px;
  height: 100%;
  background: repeating-linear-gradient(
    -65deg,
    #2271b1,
    #2271b1 15px,
    #2271b186 15px,
    #2271b186 30px
  );
  border-radius: 20px;
  border: 1px solid #2271b1;
}
.progress-stats {
  text-align: center;
  position: relative;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.712);
  line-height: 30px;
}
