.settings {
  display: flex;
}
.accordion {
  width: 80%;
}
.sisa-options-table {
  border-collapse: collapse;
  text-align: left;
}
.sisa-options-table th {
  vertical-align: top;
}
.sisa-options-table td {
  vertical-align: top;
}
.sisa-options-table input[type="checkbox"],
.sisa-options-table input[type="radio"] {
  margin-right: 12px;
}
input[type="checkbox"] + label,
input[type="radio"]:checked + label {
  font-weight: bold;
}
.sisa-options-table .description {
  display: block;
  font-size: 13px;
  color: gray;
  margin-left: 28px;
  margin-top: 4px;
}
.sisa-options-table td p {
  margin-bottom: 10px;
}

.sisa-options-table h4 {
  margin-top: 5px;
}

.estimate {
  width: fit-content;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}
.estimate h3.title {
  font-weight: bold;
  font-size: 1.2em;
  color: #004785;
}
.estimate .button-primary {
  font-weight: bold;
  background-color: #f2da8c;
  color: #004785;
}
