.settings {
  display: flex;
  justify-content: space-between;
}
.dashboard {
  width: 100%;
}
.elim-options-table {
  border-collapse: collapse;
  text-align: left;
}
.elim-options-table th {
  vertical-align: top;
}
.elim-options-table td {
  vertical-align: top;
}
.elim-options-table input[type="checkbox"],
.elim-options-table input[type="radio"] {
  margin-right: 12px;
}
input[type="checkbox"] + label,
input[type="radio"]:checked + label {
  font-weight: bold;
}
.elim-options-table .description {
  display: block;
  font-size: 13px;
  color: gray;
  margin-left: 28px;
  margin-top: 4px;
}
.elim-options-table td p {
  margin-bottom: 10px;
}

.elim-options-table h4 {
  margin-top: 5px;
}
.elim-options-table th p {
  font-weight: normal;
}
.filler {
  height: 50px;
}
