*.log
*.bak
/vendor
.DS_Store
composer.phar
/tmp/*
!/tmp/.gitkeep
/src/languages/
node_modules
*.jpg
*.png
.env
src/react-frontend/build/**
class-sisa-old-pro-plugin.php
class-sisa-wp-base.php
class-gcv-client.php
TODO.md
DEVELOPMENT.md